env:
 - GHCVER=7.4.2
 - GHCVER=7.6.3
 - GHCVER=7.8.2
 - GHCVER=head

matrix:
  allow_failures:
   - env: GHCVER=head

before_install:
 - sudo add-apt-repository -y ppa:hvr/ghc
 - sudo apt-get update
 - sudo apt-get install cabal-install-1.18 ghc-$GHCVER
 - export PATH=/opt/ghc/$GHCVER/bin:$PATH

install:
 - cd core
 - cabal-1.18 update
 - cabal-1.18 install --only-dependencies --enable-tests;

script:
 - cabal-1.18 configure --enable-tests -v2
 - cabal-1.18 build
 - cabal-1.18 test
 - cabal-1.18 check
 - cabal-1.18 sdist
