sudo: false

env:
 - CABALVER=1.16 GHCVER=7.0.4 RUNTEST=0
 - CABALVER=1.16 GHCVER=7.4.2
 - CABALVER=1.18 GHCVER=7.6.3
 - CABALVER=1.18 GHCVER=7.8.4
 - CABALVER=1.22 GHCVER=7.10.3
 - CABALVER=1.24 GHCVER=8.0.1 RUNTEST=0
 - CABALVER=head GHCVER=head RUNTEST=0

matrix:
  allow_failures:
   - env: CABALVER=head GHCVER=head RUNTEST=0

addons:
    apt:
        sources:
         - hvr-ghc
        packages:
         - cabal-install-1.16
         - cabal-install-1.18
         - cabal-install-1.20
         - cabal-install-1.22
         - cabal-install-1.24
         - cabal-install-head
         - ghc-7.0.4
         - ghc-7.4.2
         - ghc-7.6.3
         - ghc-7.8.4
         - ghc-7.10.3
         - ghc-8.0.1
         - ghc-head
         - libssl-dev

before_install:
 - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$PATH

install:
 - cabal --version
 - echo "$(ghc --version) [$(ghc --print-project-git-commit-id 2> /dev/null || echo '?')]"
 - travis_retry cabal update
 - cabal install utf8-string
 - cd core
 - if [ "${RUNTEST}" != "0" ]; then cabal install --only-dependencies --enable-tests; else cabal install --only-dependencies; fi
 - cd ../debug
 - if [ "${RUNTEST}" != "0" ]; then cabal install --only-dependencies --enable-tests; else cabal install --only-dependencies; fi

script:
 - cd ../core
 - if [ "${RUNTEST}" != "0" ]; then cabal configure --enable-tests -v2; else cabal configure -v2; fi
 - cabal build
 - if [ "${RUNTEST}" != "0" ]; then cabal test; fi;
 - cabal check
 - cabal sdist
 - export SRC_TGZ=$(cabal info . | awk '{print $2 ".tar.gz";exit}') ;
   cd dist/;
   if [ -f "$SRC_TGZ" ]; then
      cabal install --force-reinstalls "$SRC_TGZ";
   else
      echo "expected '$SRC_TGZ' not found";
      exit 1;
   fi
 - cd ../../debug
 - cabal configure -v2
 - cabal build
 - cabal check
 - cabal sdist
 - export SRC_TGZ=$(cabal info . | awk '{print $2 ".tar.gz";exit}') ;
   cd dist/;
   if [ -f "$SRC_TGZ" ]; then
      cabal install --force-reinstalls "$SRC_TGZ";
   else
      echo "expected '$SRC_TGZ' not found";
      exit 1;
   fi
 - cd ../../
 - make build-openssl-server
 - ghc -threaded --make test-scripts/TestClient
 - touch debug.log
 - ./test-scripts/TestClient debug.log
 - cat debug.log
